@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');
body{
    font-family: 'Open Sans'; 
}
.navbar{
    background-color: #ff6600;
    padding: 15px;
}

.navbar-brand{
    color: white !important;
    font-weight: normal;
    letter-spacing: 0.2em;
}
main{
    margin-top: 20px;
}

.fa-sm{
    width: 15px !important;
}
.nav-link{
    text-transform: uppercase;
    /* letter-spacing: 0.1em; */
    color: #fff !important;
    font-size: 12px;
}
.nav-link:hover,
.footersatu a:hover{
    color: #b34700 !important;
}
.preview{
    border-radius: 10px;
    padding: 10px;
    height: 400px;
    max-width: 400px;
    max-height: 400px;
    background: #f7f7f7;
}
footer{
    margin-top: 30px;
}
.footersatu{
    background: #f7f7f7;
    color: #2e2e2e;
    width: 100%;
    text-align: left;
    padding: 30px;
}
footer p,a,li{
    font-size: 12px;
    text-decoration: none;
}
.footersatu a{
    color: #2e2e2e;
}

.copy{
    background: #ff6600;
    color: white;
    width: 100%;
    text-align: center;
    padding: 20px;
    margin: 0;
}
.fixed-bottom {
    position: sticky;
    
}

@media screen and (max-width: 1000px){
    nav{
        background-image: url("https://s1.zerochan.net/Gleipnir.600.2886139.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    .form{
        margin-top: 20px;
    }
    footer{
        margin-bottom: 70px !important;
    }
    .fixed-bottom{
        position: fixed;
        bottom:0;
        right: 0;
        left: 0;
    }
}
