@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background: #f2f2f2;
    font-family: 'Open Sans';

}
.cover{
    position: relative;
    width: 1080px;
    height: 1080px;

    background: #FFFFFF;
}

/* Isekai.wa.Smartphone.to.Tomo.ni..full 1 */

.gambar img{
    
    position: absolute;
    width: 1080px;
    height: 356px;
    left: -195px;
    top: 724px;

    object-fit: cover;
    -o-object-fit: cover;
    object-position: center;
}


/* Rectangle 29 */

.footer{
    position: absolute;
    width: 1080px;
    height: 342px;
    left: 0px;
    top: 738px;

    background: rgba(255, 102, 0, 0.6);
    backdrop-filter: blur(50px);
}
.gambar-content img{
    position: absolute;
    width: 1080px;
    height: 736px;
    left: 0px;
    top: 0px;

    object-fit: cover;
    -o-object-fit: cover;
    object-position: center;
}


/* box */

.white-box{
    position: absolute;
    width: 1018px;
    height: 523px;
    left: 0px;
    top: 486px;

    background: #FFFFFF;
    border-radius: 0px 10px 10px 0px;
}


/* title-news */

.title{
    position: absolute;
    width: 856px;
    height: 52px;
    left: 62px;
    top: 540px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 113.18%;
    /* or 54px */

    text-transform: uppercase;

    color: #FF6600;
}
.sinopsis{
    position: absolute;
    width: 856px;
    height: 206px;
    left: 62px;
    top: 763px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 41px;

    /* black */

    color: #212121;
}
.rilis{
    position: absolute;
    width: 278px;
    height: 46px;
    left: 62px;
    top: 600px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #212121;
}
.node{
    position: absolute;
    width: 14px;
    height: 14px;
    left: 340px;
    top: 614px;

    /* orange */

    background: #FF6600;
}
.episode{
    position: absolute;
    width: 278px;
    height: 46px;
    left: 389px;
    top: 600px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #212121;
}
.studio{
    position: absolute;
    width: 874px;
    height: 46px;
    left: 62px;
    top: 646px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    /* orange */

    color: #FF6600;
}
.genre{
    position: absolute;
    width: 863px;
    height: 46px;
    left: 62px;
    top: 692px;

    font-family: Open Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 30px;
    line-height: 41px;
    text-transform: capitalize;

    /* black */

    color: #212121;
}



.judul-content{
    position: absolute;
    height: 33px;
    left: 804px;
    top: 72px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    text-transform: uppercase;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.1em;

    color: #FFFFFF;
}
.bg-judul-content{
    position: absolute;
    width: 236px;
    height: 50px;
    left: 782px;
    top: 63px;

    background: #FF6600;
    border-radius: 10px;
}



/* LENSA.ANIMEME */

.lensa{
    position: absolute;
    height: 0px;
    left: 62px;
    top: 1045px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 0px;
    text-transform: uppercase;
    /* identical to box height, or 0% */
    
    letter-spacing: 0.2em;
    
    color: #FFFFFF;
}



/* FOLLOW FOR MORE ANIME CONTENT */

.follow{
    position: absolute;
    height: 0px;
    left: 300px;
    top: 1045px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 0px;
    text-transform: uppercase;
    letter-spacing: 0.07em;
    /* identical to box height, or 0% */
    
    
    color: #FFFFFF;
}



/* admin */

.admin{
    position: absolute;
    height: 0px;
    left: 777px;
    top: 1045px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 0px;
    text-transform: uppercase;
    /* identical to box height, or 0% */
    
    text-align: right;
    letter-spacing: 0.13em;
    
    color: #FFFFFF;
}



/* icon */

.icon{
    position: absolute;
    width: 100px;
    height: 16.15px;
    left: 918px;
    top: 1037px;
}



/* linebreak */

.linebreak{
    position: absolute;
    width: 71px;
    left: 225px;
    top: 1039px;
    
    border: 1px solid #FFFFFF;
    transform: rotate(-90deg);
}


/* bulet */

.bulet{
    position: absolute;
    left: 943.12px;
    top: 599px;
}


/* logo */

.logo{
    position: absolute;
    width: 104px;
    height: 104px;
    left: 62px;
    top: 36px;
}
