@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background: #f2f2f2 !important;
    font-family: 'Open Sans';
}
.cover{
    position: relative;
    width: 1080px;
    height: 1080px;

    background: rgba(255, 255, 255, 0);
}
.title{
    position: absolute;
    width: 753px;
    height: 52px;
    left: 62px;
    top: 866px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 113.18%;
    /* or 57px */
    
    text-transform: uppercase;
    
    color: #FF6600;
}
.singer{
    position: absolute;
    width: 185px;
    height: 40px;
    left: 62px;
    top: 827px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 113.18%;
    /* or 34px */
    
    text-transform: uppercase;
    
    color: #FF6600;
}

.anime{
    position: absolute;
    width: 643px;
    height: 50px;
    left: 62px;
    top: 926px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 41px;
    text-transform: capitalize;
    
    /* black */
    
    color: #212121;
}
.admin{
    position: absolute;
    height: 0px;
    left: 777px;
    top: 1043px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 0px;
    text-transform: uppercase;
    /* identical to box height, or 0% */
    
    text-align: right;
    letter-spacing: 0.13em;
    
    color: #212121;
}
.img-music{
    position: absolute;
    width: 1080px;
    height: 1080px;
}