@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background: #f2f2f2;
    font-family: 'Open Sans';

}
.cover{
    position: relative;
    width: 1080px;
    height: 1080px;

    background: #FFFFFF;
}
.gambar img{
    width: 1080px;
    height: 300px;
    position: absolute;
    top: 780px;

    object-fit: cover;
    -o-object-fit: cover;
    object-position: top;
}
.footer{
    position: absolute;
    width: 1080px;
    height: 300px;
    left: 0px;
    top: 780px;
    
    background: rgba(255, 102, 0, 0.6);
    backdrop-filter: blur(50px);
    /* Note: backdrop-filter has minimal browser support */
}


.gambar-content img{
    position: absolute;
    width: 1080px;
    height: 782px;
    top: 0px;

    object-fit: cover;
    -o-object-fit: cover;
    object-position: top;
}


/* white-box */

.white-box{
    width: 956px;
    position: absolute;
    height: 381px;
    left: 62px;
    top: 628px;
    
    background: #FFFFFF;
    border-radius: 10px;
}


/* nama */

.nama{
    position: absolute;
    width: 813px;
    height: 41px;
    left: 98px;
    top: 655px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 113.18%;
    /* identical to box height, or 41px */
    
    text-transform: uppercase;
    
    color: #FF6600;
}


.bg-judul-content{
    position: absolute;
    width: 236px;
    height: 50px;
    left: 782px;
    top: 63px;
    
    background: #FF6600;
    border-radius: 10px;
}
.judul-content{
    position: absolute;
    left: 820px;
    top: 72px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    text-transform: uppercase;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.1em;
    
    color: #FFFFFF;
}
.lensa{
    position: absolute;
    height: 0px;
    left: 62px;
    top: 1045px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 0px;
    text-transform: uppercase;
    /* identical to box height, or 0% */
    
    letter-spacing: 0.2em;
    
    color: #FFFFFF;
}



/* FOLLOW FOR MORE ANIME CONTENT */

.follow{
    position: absolute;
    height: 0px;
    left: 300px;
    top: 1045px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 0px;
    text-transform: uppercase;
    letter-spacing: 0.07em;
    /* identical to box height, or 0% */
    
    
    color: #FFFFFF;
}



/* admin */

.admin{
    position: absolute;
    height: 0px;
    left: 777px;
    top: 1045px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 0px;
    text-transform: uppercase;
    /* identical to box height, or 0% */
    
    text-align: right;
    letter-spacing: 0.13em;
    
    color: #FFFFFF;
}



/* icon */

.icon{
    position: absolute;
    width: 100px;
    height: 16.15px;
    left: 918px;
    top: 1037px;
}



/* linebreak */

.linebreak{
    position: absolute;
    width: 71px;
    left: 225px;
    top: 1039px;
    
    border: 1px solid #FFFFFF;
    transform: rotate(-90deg);
}


/* bulet */

.bulet{
    position: absolute;
    width: 40.12px;
    height: 139.24px;
    left: 943.12px;
    top: 749px;
}
.logo{
    position: absolute;
    width: 104px;
    height: 104px;
    left: 62px;
    top: 36px;
}
.desc-char{
    /* desc-char */
    
    
    position: absolute;
    width: 831px;
    height: 260px;
    left: 98px;
    top: 703px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 35px;
    
    /* black */
    
    color: #212121;
}