@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background: #f2f2f2;
    font-family: 'Open Sans';

}
.cover{
    position: relative;
    width: 1080px;
    height: 1080px;

    background: #FFFFFF;
}

.gambar img{
    position: absolute;
    width: 1080px;
    height: 1080px;
    top: 0px;

    object-fit: cover;
    -o-object-fit: cover;
    object-position: center;
}

/* footer */

.footer{
    position: absolute;
    width: 1080px;
    height: 1080px;
    left: 0px;
    top: 0px;
    
    background: rgba(255, 102, 0, 0.6);
    backdrop-filter: blur(50px);
    /* Note: backdrop-filter has minimal browser support */
}
.img-char{
    position: absolute;
    width: 1080px;
    height: 985.82px;
    left: 0px;
    top: 0px;

    object-fit: cover;
    -o-object-fit: cover;
    object-position: top;
}
.white-box{
    position: absolute;
    width: 1080px;
    height: 615px;
    left: 0px;
    top: 394px;
    
    background: linear-gradient(0deg, #FFFFFF 9.9%, rgba(255, 255, 255, 0) 100%);
}


/* nama */

.nama{
    position: absolute;
    height: 79px;
    left: 90px;
    top: 788px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 113.18%;
    /* or 81px */
    
    text-align: center;
    text-transform: uppercase;
    
    color: #FF6600;
}
.judul-anime{
    position: absolute;
    height: 43px;
    left: 90px;
    top: 867px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 113.18%;
    /* or 34px */
    
    text-align: center;
    text-transform: uppercase;
    
    color: #FF6600;
}
.kanji{
    position: absolute;
    height: 43px;
    left: 90px;
    top: 754px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 113.18%;
    /* or 41px */
    
    text-align: center;
    text-transform: uppercase;
    
    /* black */
    
    color: #212121;
}
.linename{

position: absolute;
width: 277px;
height: 0px;
left: 402px;
top: 927px;

/* orange */

border: 1px solid #FF6600;
}
.bg-judul-content{
    position: absolute;
    width: 236px;
    height: 50px;
    left: 782px;
    top: 63px;
    
    background: #FF6600;
    border-radius: 10px;
}
.judul-content{
    position: absolute;
    left: 814px;
    top: 72px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    text-transform: uppercase;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.1em;
    
    color: #FFFFFF;
}
.lensa{
    position: absolute;
    height: 0px;
    left: 62px;
    top: 1045px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 0px;
    text-transform: uppercase;
    /* identical to box height, or 0% */
    
    letter-spacing: 0.2em;
    
    color: #FFFFFF;
}



/* FOLLOW FOR MORE ANIME CONTENT */

.follow{
    position: absolute;
    height: 0px;
    left: 300px;
    top: 1045px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 0px;
    text-transform: uppercase;
    letter-spacing: 0.07em;
    /* identical to box height, or 0% */
    
    
    color: #FFFFFF;
}



/* admin */

.admin{
    position: absolute;
    height: 0px;
    left: 777px;
    top: 1045px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 0px;
    text-transform: uppercase;
    /* identical to box height, or 0% */
    
    text-align: right;
    letter-spacing: 0.13em;
    
    color: #FFFFFF;
}



/* icon */

.icon{
    position: absolute;
    width: 100px;
    height: 16.15px;
    left: 918px;
    top: 1037px;
}



/* linebreak */

.linebreak{
    position: absolute;
    width: 71px;
    left: 225px;
    top: 1039px;
    
    border: 1px solid #FFFFFF;
    transform: rotate(-90deg);
}


/* bulet */

.bulet{
    position: absolute;
    left: 973px;
    top: 470px;
}


/* logo */

.logo{
    position: absolute;
    width: 104px;
    height: 104px;
    left: 62px;
    top: 36px;
}
.tgl{
    position: absolute;
    height: 34px;
    left: 304px;
    top: 944px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    text-transform: capitalize;
    
    /* black */
    
    color: #212121;
}
.jk{
    position: absolute;
    height: 34px;
    left: 175px;
    top: 944px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    text-transform: capitalize;
    
    /* black */
    
    color: #212121;
}
.age{
    position: absolute;
    height: 34px;
    left: 483px;
    top: 944px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    text-transform: capitalize;
    
    /* black */
    
    color: #212121;
}
.tall{
    position: absolute;
    height: 34px;
    left: 611px;
    top: 944px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    text-transform: capitalize;
    
    /* black */
    
    color: #212121;
}
.seiyuu{
    position: absolute;
    height: 34px;
    left: 749px;
    top: 944px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
    
    /* black */
    
    color: #212121;
}
.node-1{
    width: 10px;
    position: absolute;
    height: 10px;
    left: 294px;
    top: 958px;
    
    /* orange */
    
    background: #FF6600;
}

.node-2{
    /* node-2 */
    
    
    position: absolute;
    width: 10px;
    height: 10px;
    left: 473px;
    top: 958px;
    
    /* orange */
    
    background: #FF6600;
}

.node-3{
    /* node-3 */
    
    
    position: absolute;
    width: 10px;
    height: 10px;
    left: 601px;
    top: 958px;
    
    /* orange */
    
    background: #FF6600;
}
.node-4{
    /* node-4 */
    
    
    position: absolute;
    width: 10px;
    height: 10px;
    left: 726px;
    top: 958px;
    
    /* orange */
    
    background: #FF6600;
}
